<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
    <script src="app.js"></script>

    <div id="header">
        <div id="logo" onload="getLogo()"></div>    
        <br><hr style="border-top: 12px solid black;">
    </div>
    <section>
        <h3>Tytuł</h1>
        <p>
            Tekst.
        </p>
        
    </section>
    
    <div class="tooltip">Hover over me
        <span class="tooltiptext">Tooltip text</span>
    </div>

    <div id="main">
        <button onclick="getMainBody()">Start</button>
    </div>

</body>
</html>
